--extra-index-url https://download.pytorch.org/whl/cpu
torch
sentence-transformers
qdrant-client
pymupdf
fastapi
streamlit
uvicorn
python-dotenv
requests
langchain
langchain-community
langchain-openai
langchain-google-genai
python-multipart